@using EidAssignment.Models
@model Order

@{
    ViewBag.Title = "AddOrders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="col-lg-4 col-lg-push-4 col-md-4 col-md-push-4">
        <div class="panel panel-default">
            <h2 class="text-center">Add Orders</h2>
            <div class="panel-body">
                @using (Html.BeginForm("AddOrders", "Admin", FormMethod.Post))
                {
                    <div class="form-group">

                        <div class="input-group form-inline">
                            <span class="input-group-addon">
                                <span class="fas fa-home"></span>
                            </span>
                            @Html.TextBoxFor(x => x.ShippingAddress, new { placeholder = "Enter Shipping Address", required = "required", @class = "form-control" })
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="input-group form-inline">
                            <span class="input-group-addon">
                                <span class="fas fa-home"></span>
                            </span>
                            @Html.TextBoxFor(x => x.Amount, new { placeholder = "Enter Amount", required = "required", @class = "form-control" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="input-group form-inline">
                            <span class="input-group-addon">
                                <span class="fas fa-user"></span>
                            </span>
                            @{
                                List<OrderStatus> OrderStatuses = ViewBag.OrderStatuses as List<OrderStatus>;
                            }
                            <select required class="form-control" name="OrderStatusId">
                                <option value="0" selected="selected" disabled>- Select order Status -</option>
                                @foreach (var item in OrderStatuses)
                                {
                                    <option value="@item.Id">@item.Name </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group form-inline" >
                            <span class="input-group-addon">
                                <span class="fas fa-home"></span>
                            </span>
                            @{ 
                                List<Product> Products = ViewBag.Products as List<Product>;
                            }
                            <select required class="form-control" name="ProductId">
                                <option value="0" selected="selected" disabled>- select Product Title </option>
                                    @foreach(var item in Products)
                                        {
                                                <option value="@item.Id">@item.Title</option>
                                        }

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group form-inline">
                            <span class="input-group-addon">
                                <span class="fas fa-user"></span>
                            </span>
                            @{
                                List<User> Users = ViewBag.Users as List<User>;
                            }

                            <select class="form-control" name="ClientId">
                                <option value="0" selected="selected" disabled>- Select User Name - </option>
                                @foreach (var item in Users)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Add Order</button>
                    </div>

                }

            </div>
        </div>
    </div>
</div>


<div class="container text-center">
    @Html.ActionLink("Back to List", "Orders")
</div>
